
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: hsla(19, 76%, 97%, 1);
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 33%, 1);
    padding: 1.9rem 1.3rem;

    h2 {
      margin: 0;
    }

    p {
      margin-top: 0.5rem;
      color: hsla(0, 0%, 33%, 1);
      width: 70%;
      text-align: center;
      line-height: 1.4;
    }
    
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 0;
    }

    input {
      width: 100%;
      margin-bottom: 0.5rem;
      padding: 10px;
      border-radius: 3px;
      border: 1px solid hsla(0, 0%, 33%, 1);
    }
}

.submit{
    margin: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to top right, rgb(224, 109, 6), rgb(255, 167, 0));
    border-radius: 3px;
    font-weight: 700;
    border: none;
    padding: 12px;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200% auto;

    &:hover {
      background-position: right center;
    }
}

.tryAgain{
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  box-shadow: 0 1px 0 0 currentColor;
  color: inherit;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spacer{
    height: 2px;
}
